.login-all-container {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100%;
  padding: 40px 40px 5% 100px;
  padding-right: 10%;
  align-items: center;
  overflow-x: hidden;
}

.top {
  z-index: 999;
}

.login-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
}

.inner-form-container {
  min-width: min(100%, 430px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-title {
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
}

.error-message-container {
  display: block;
}
.error-message {
  text-align: start;
  font-family: "Poppins semi-bold";
  color: var(--negative);
  font-size: 14px;
  min-height: 14px;
  margin: 0;
}

.button-spinner {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 16px;
  place-items: center;
  margin-top: 48px;
}

.registrati {
  font-family: "Poppins regular";
  font-size: 16px;
  margin-top: 16px;
}

.go-to-register-link {
  font-family: "Poppins semi-bold";
  color: var(--primary);
  cursor: pointer;
}

.link:hover {
  color: var(--primary-hover);
}

.login-container .form {
  width: min(100%, 400px);
  z-index: 5;
}
