.page-container {
  padding: 80px 16px 16px 24px;
}

.title-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 64px;
  justify-content: space-between;
}

.newpet-button {
  margin-right: 64px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.cards-container .card-container {
  flex: 0 1 auto;
}
