.page-container{
    margin-left: 64px;
}

.title-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 140px;
    margin-bottom: 64px;
    justify-content: space-between;
}

.newpet-button{
    margin-right: 64px;
}

.cards-container{
    display: grid;
    grid-template-columns: max-content min-content;
}