.textfield-container {
  display: flex;
  width: 100%;
  min-width: fit-content;
  flex-direction: column;
}

.textfield {
  width: 100%;
  outline: 1px solid var(--input-boder);
  border-radius: 4px;
  border: none;
}

.input-icon {
  width: 100%;
  position: relative;
}

.textfield::placeholder {
  font-size: 16px;
  font-family: "Poppins regular";
  color: var(--input-placeholder);
}

.asterisc {
  font-size: 18px;
  color: var(--negative);
}

.icon {
  position: absolute;
  height: 100%;
  width: 24px;
  top: 0;
  right: 12px;
  text-align: center;
  display: grid;
  place-items: center;
}

.icon::before {
  background-color: var(--input-placeholder);
}

.Anni {
  width: 30px;
}

.Kg {
  width: 20px;
}

.big {
  padding: 12px 0 12px 16px;
}

.medium {
  padding: 8px 16px;
}

.small {
  padding: 4px 16px;
}

.textfield:invalid {
  outline: 2px solid var(--negative);
}

.invalid {
  outline: 2px solid var(--negative);
}

.textfield:not(:placeholder-shown):valid {
  outline: 2px solid var(--positive);
}

.textfield:focus,
.textfield:focus-visible {
  outline: 2px solid var(--primary-selected);
}

.hide-show-password {
  cursor: pointer;
}
