.page-container {
  padding-right: 40px;
}
.profile-top-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-title {
  font-size: 32px;
  font-family: "Poppins medium";
}

.profile-info-container {
  margin-top: 40px;
  padding: 32px 64px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: white;
  border-radius: 8px;
  min-width: 500px;
  width: max-content;
}

.profile-info {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 16px;
}

.labels,
.texts {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 24px;
}

.profile-text {
  font-family: "Poppins bold";
  font-size: 18px;
}

.profile-label {
  font-family: "Poppins bold";
  font-size: 18px;
  color: #323338;
}
