.page-container{
    margin-left: 64px;
}

.title-container{
    margin-top: 140px;
    margin-bottom: 64px;
}

.userinfo-container{
    margin-left: 56px;
}

.firstname{
    margin-top: 92px;
}

.lastname{
    margin-top: 52px;
}

.email{
    margin-top: 52px;
}

.button-container{
    margin-top: 240px;
    margin-left: 60%;
}