@font-face {
  font-family: "Poppins medium";
  src: local("Poppins"),
    url(./fonts/poppins/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins semi-bold";
  src: local("Poppins"),
    url(./fonts/poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins regular";
  src: local("Poppins"),
    url(./fonts/poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins bold";
  src: local("Poppins"),
    url(./fonts/poppins/Poppins-Bold.ttf) format("truetype");
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: "Poppins regular";
}

.ui-text {
  margin: 0;
  font-size: 16px;
  font-family: "Poppins semi-bold";
  color: var(--black);
  margin-bottom: 8px;
}

#root {
  height: 100%;
}

:root {
  --primary: #4063de;
  --primary-hover: #375fc6;
  --primary-selected: #7899f0;

  --secondary: #e89a5e;
  --secondary-hover: #cd7836;
  --secondary-selected: #eabc81;

  --positive: #2a9d8f;
  --positive-hover: #287271;
  --positive-selected: #67a59d;

  --negative: #e76f51;
  --negative-hover: #bc5f47;
  --negative-selected: #ce7d68;

  --black: #000;
  --input-placeholder: #676879;
  --input-boder: #c5c7d0;
}

.Profile::before {
  content: url("./icons/Profile.svg");
}

.Show::before {
  content: url("./icons/Show.svg");
}

.Hide::before {
  content: url("./icons/Hide.svg");
}

.EditSquare::before{
  content: url("./icons/Edit Square.svg");
}
