.arrow-icon {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.ArrowRightSquare::before {
  background-color: var(--black);
  content: "";
  display: block;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.ArrowRightSquare {
  height: 32px;
  width: 32px;
}

.card-container {
  width: 270px;
  background: var(--secondary);
  border: 6px solid var(--black);
  box-sizing: border-box;
  border-radius: 4px;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 16px;
}

.htext {
  margin: 0px;
}

.pet-name {
  font-size: 20px;
  color: #4063de;
  text-shadow: 2px 1px 0px var(--black);
  margin-top: 32px;
}

.pet-animal {
  margin-top: 10px;
}

.pet-breed {
  margin-top: 8px;
}

.pet-nutrition {
  box-sizing: content-box;
  margin-top: 16px;
  margin-bottom: 16px;
  background-image: url("../../../images/Bubble.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
}
.n-row1 {
  margin: 0px;
  color: #3d3d3d;
}

.n-row2 {
  margin: 0px;
  color: var(--positive);
}

.n-row3 {
  margin: 0px;
  max-width: 20ch;
  margin-top: 16px;
}
