.home-container{
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100%;
}

.top {
    outline: 1px solid red;
    height: 100px;
  }

.text-container{
    grid-row: 3/4;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slogan-container-2{
    color: var(--secondary);
}

.button-container{
    padding: 50px;
    display: grid;
    grid-template-columns: 200px 16px max-content;
}