.home-all-container {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100%;
  padding: 40px 40px 10% 100px;
}

.logo-container {
  background-image: url("../../../images/Remy_logo.svg");
  width: 18vw;
  aspect-ratio: 2 / 1;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
}

.home-container {
  display: grid;
  height: 100%;
  position: relative;
}

.main {
  font-size: 64px;
  margin: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
}

.orange {
  color: var(--secondary);
}

.free-label {
  font-size: 16px;
  font-family: "Poppins bold";
  color: var(--positive);
  margin: 0;
}

.button-container {
  margin-top: 64px;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 24px;
  height: fit-content;
  place-items: center;
}

.subtitle-container {
  margin-top: 24px;
}

.subtitle {
  margin: 0;
}

.home-bg {
  aspect-ratio: 1 / 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/Home_background.svg");
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(15%);
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.home-action-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: fit-content;
}
