.register-all-container {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100%;
  padding: 40px 40px 5% 100px;
  padding-right: 10%;
  overflow-x: hidden;
}
.register-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  margin-top: 40px;
}

.register-title {
  margin-bottom: 16px;
}

.error-message-container {
  display: block;
}
.error-message {
  text-align: start;
  font-family: "Poppins semi-bold";
  color: var(--negative);
  font-size: 14px;
  min-height: 14px;
  margin: 0;
  max-width: 40ch;
  overflow-wrap: break-word;
}

.button-spinner {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 16px;
  place-items: center;
  margin-top: 48px;
}

.go-to-login-link {
  font-family: "Poppins semi-bold";
  color: var(--primary);
  cursor: pointer;
}

.artwork {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/Signup_Login_bg.svg");
  background-repeat: no-repeat;
  z-index: 4;
  background-size: contain;
  transform: translateX(50%);
}

.register-container .form {
  width: min(100%, 400px);
  z-index: 5;
}
